venv/
*.pyc

app/settings.py
app/settings_secret.py
citeit.env
api.env

docker-command.txt

json/quote/sha256/*
*.DS_Store

.idea/* 
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/Project_Default.xml
aws_policy.json

app/aws_settings.py
