venv/  # virutal host
*.pyc

citeit.env  # Docker environmental variable settings
api.env

docker-command.txt
app/citeit-webservice.log

text-versions/*
downloads/*            # copies of original sources: HTML, PDF; Text versions & Transcripts 

json/quote/sha256/*    # JSON snippets to upload

app/settings_secret.py  # Passwords
app/aws_settings.py

venv/*
aws_policy.json

env/*
aws_policy.json

*.DS_Store
.idea/* 

downloads
transcripts/
