venv/
*.pyc

downloads/*
app/settings_secret.py
text-versions/*
transcripts/*
app/citeit-webservice.log


citeit.env
api.env

docker-command.txt

json/quote/sha256/*
*.DS_Store

.idea/* 
.idea/codeStyles/codeStyleConfig.xml
.idea/inspectionProfiles/Project_Default.xml
aws_policy.json

app/aws_settings.py
