wheel==0.34.2
pytest-runner==5.2
beautifulsoup4==4.9.1
boto3==1.14.12
Flask-SQLAlchemy==2.4.3
Flask==1.1.2
pytest-runner==5.2
ftfy==5.7
Jinja2==2.11.2
requests==2.31.0
SQLAlchemy==1.3.18
langdetect==1.0.8
tldextract==2.2.2
youtube_dl==2020.6.16.1
python-magic==0.4.18

# PDF libraries: don't work in Docker: Uncomment to run Flask directly in Python
# pdftotext==2.1.4
# pdf2image==1.13.1
# pytesseract==0.3.4

# apt-get install python3-dev
# apt-get install -y poppler-utils

# pdftotext:
# sudo apt-get install build-essential libpoppler-cpp-dev pkg-config python-dev
