appdirs==1.4.4
arrow==1.2.1
attrs==21.4.0
aws-lambda-builders==1.10.0
aws-sam-cli==1.36.0
aws-sam-translator==1.42.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
binaryornot==0.4.4
boto3==1.20.26
botocore==1.23.26
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
chevron==0.14.0
click==8.0.3
cookiecutter==1.7.3
cryptography==36.0.1
cssselect==1.1.0
dateparser==1.1.0
docker==5.0.3
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.18.1
fake-useragent==0.1.11
filelock==3.4.2
Flask==2.0.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
ftfy==6.0.3
future==0.18.2
greenlet==1.1.2
idna==3.3
importlib-metadata==4.10.0
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
jinja2-time==0.2.0
jmespath==0.10.0
jsonschema==4.3.3
langdetect==1.0.9
lxml==4.7.1
MarkupSafe==2.0.1
more-itertools==8.12.0
mysql-connector==2.2.9
mysql-connector-python==8.0.27
packaging==21.3
parse==1.19.0
passlib==1.7.4
pdf2image==1.16.0
pdftotext==2.2.2
Pillow==8.4.0
pip-review==1.1.1
pipreqs==0.4.11
pipupgrade==1.11.0
poyo==0.5.0
protobuf==3.19.1
psycopg2-binary==2.9.3
pycparser==2.21
pyee==8.2.2
PyMySQL==1.0.2
pyparsing==3.0.6
pyppeteer==0.2.6
pyquery==1.4.3
pyrsistent==0.18.0
pytesseract==0.3.8
pytest-runner==5.3.1
python-dateutil==2.8.2
python-magic==0.4.24
python-slugify==5.0.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2021.11.10
requests==2.26.0
requests-file==1.5.1
requests-html==0.10.0
s3transfer==0.5.0
serverlessrepo==0.1.10
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==1.4.29
SQLAlchemy-Utils==0.38.2
text-unidecode==1.3
tldextract==3.1.2
tomlkit==0.8.0
tqdm==4.62.3
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
w3lib==1.22.0
watchdog==2.1.6
wcwidth==0.2.5
websocket-client==1.2.3
websockets==10.1
Werkzeug==2.0.2
whichcraft==0.6.1
yarg==0.1.9
youtube-dl==2021.12.17
zipp==3.7.0
